@model IEnumerable<Model.DTO.WebShopDTO>
@{
    ViewBag.Title = "WebShops";

}

<style>
    .custom-table {
        margin-top: 70px;
    }

    .custom-table .shop-logo {
        max-width: 100px !important;
    }

    .table > tbody > tr > td {
        vertical-align: middle;
    }

    a {
        color: #3498db;
        text-decoration: none;
    }

    a:hover {
        color: #02578e;
    }

    .mt-1 {
        margin-top: 40px;
    }

    .mt-1 a:hover {
        color: #18bc9c;
    }

    .edit-action,
    .delete-action {
        padding: 0 20px;
    }
</style>

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

<div class="container">
    <div class="col-md-12">
        <div class="col-md-1 col-md-offset-10 mt-1">
            <a href="@Url.Action("Create")" class="btn btn-primary btn-md">
                <span class="glyphicon-plus"></span> @Resources.Resource.AddPharmacy
            </a>
        </div>
    </div>

    <br />
    <br />

    <div class="col-md-12">
        <table class="table custom-table">
          
            @foreach (var item in Model)
            {
                <tr>
                    <td class="col-lg-3">
                        <img class="shop-logo img-responsive" src="~/Content/WebShopLogos/@item.LogoPath" />
                    </td>
                    <td class="col-lg-3">
                        <big>@item.Name</big>
                    </td>
                    <td class="col-lg-4">
                        <big><a href="@item.Path">@item.Path</a></big>
                    </td>
                    <td class="col-lg-2 text-center">
                        <a class="edit-action" href="@Url.Action("Edit", new {id = item.Id})">
                            <big><span class="glyphicon glyphicon-edit" style="color: black"></span></big>
                        </a>
                        <a class="delete-action" href="@Url.Action("Delete", new {id = item.Id})" class="webShopItem" style="color: black">
                            <big><span class="glyphicon glyphicon-remove"></span></big>
                        </a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>