@using PagedList.Mvc;
@model Model.DTO.GetCategoryDTO
@{
	ViewBag.Title = "GetCategoryGood";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/IndexStylesheet")
@Styles.Render("~/Content/PhoneStylesheet")


<style>
    .body {
        position: relative;
    }

    footer {
        position: absolute;
        width: 100%;
        bottom: 0;
        z-index: 1000;
        margin-bottom: 20px;
    }

    footer a {
        color: #3498db;
        text-decoration: none;
    }

    footer a:hover,
    footer a:focus,
    footer a:active,
    footer a:visited
    {
        color: #02578e;
    }

    .text-mounted {
        color: #a59f9f;
        font-size: 14px;
    }

    .btn {
        padding: 10px;
    }

    .item-description {
        display: block;
        display: -webkit-box;
        max-width: 400px;
        height: 100px;
        margin: 0 auto;
        font-size: 14px;
        line-height: 1.4;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

</style>

<div class="cf wrap container">
	<div id="products" class="row list-group">
		<div class="material-design-block">
			<h2>@Model.CategoryName</h2>
			<br />
			<h4><a href="@Url.Action("Index", "Home")">@Resources.Resource.GoHome</a></h4>
		</div>
		<div class="clearfix"></div>
		@foreach (var good in Model.GoodListCategory)
			{
			<div class="row material-design-block">
				<div class="media">
					<div class="media-left">
						<a class="pull-left">
							<img class="media-object" src="@good.ImgLink" alt="" style="">
						</a>
					</div>

					<div class="media-body">
                        <div class="col-xs-4">
                            <h4 class="text-info text-center">
                                <a href="@Url.Action("ConcreteGood", "Good", new {id = good.Id})">@good.Name</a>
                            </h4>
                            <p class="item-description">
                                @good.Description
                            </p>
                        </div>
						<div class="col-xs-2">
                            <b class="text-info">@Resources.Resource.Pharmacy:</b>
							<br />
							<b class="text-mounted">@good.WebShop.Name</b>
						</div>
						<div class="col-xs-2">
                            <b class="text-info">@Resources.Resource.CategoryName:</b>
							<br />
							<b class="text-mounted cat-name">@good.Category.Name</b>
						</div>
						@if (@good.OldPrice == null)
						{
							<div class="col-xs-2">
                                <b class="text-info">@Resources.Resource.Price:</b>
								<br />
								<b class="text-mounted">@good.Price</b>
							</div>
						}
						else
						{
							<div class="col-xs-2">
                                <b class="price">@Resources.Resource.Price:</b>
								<br />
								<b class="text-mounted"><del><small>@good.OldPrice</small></del></b>
								<br />
								<b class="text-danger">@good.Price</b>
							</div>
						}
						<div class="col-xs-2">
                            <a class="btn btn-info" href="@good.UrlLink">@Resources.Resource.GoToShop</a>
						</div>
					</div>
				</div>
			</div>
			}
		<div class="col-lg-12 paging">
			Page @(Model.GoodListCategory.PageCount < Model.GoodListCategory.PageNumber ? 0 : Model.GoodListCategory.PageNumber) из @Model.GoodListCategory.PageCount

			@Html.PagedListPager(Model.GoodListCategory, page => Url.Action("GetCategoryGood", new {@c_id=ViewBag.cat_id,@page=page }))
		</div>
	</div>
	</div>




